.store-pokemon {
  background: #F4F4F4;
  width: 200px;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.rarity {
  padding: 20px;
  background: #E9E9E9;
  color: #333;
  font-weight: bold;
  font-size: 12px;
}

.image {
  width: 80px;
  height: auto;
  margin: 10px 0;
}

.number {
  color: #B0B0B0;
  font-size: 12px;
  margin: 10px;
  font-weight: bold;
}

.name {
  color: #333;
  font-weight: bold;
  font-size: 15px;
  margin: 10px;
}

.price {
  font-size: 16px;
  color: #0B3954;
}